#register {
    padding: 0.5em;
    color: #ffffff;
    border-radius: 10px;
    background: #4c5582;
}
.contact-details,
.contact-container {
    display: flex;
}
.contact-details {
    gap: 1em;
    flex-grow: 1;
    padding: 1em;
    color: #ffffff;
    flex-direction: column;
}

#contact-landing-container {
    background-color: #010739;
    background-position: center;
    background-image: url("signin-background.png");
}
.contact-container {
    margin: auto;
    margin-top: 15px;
    max-width: 400px;
    border-radius: 10px;
    background: #ffffff;
}

input,
button,textarea {
    padding: 5px;
    outline: none;
    font-size: medium;
    border-radius: 5px;
    font-family: inherit; 
    border: 1px solid #808080;  
}
textarea {
    resize: none;
    height: 100px;
}
.contact-container span {
    color: #1a2a54;
    text-align: center;
}
button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    background: #1a2a54;
    box-shadow: 1px 1px 1px 1px #ccc;   
}
button:hover {
    background: #23718e;
}
.hidden {
  position: absolute;
  left: -9999px;
}
@media screen and (max-width: 768px) {
    .contact-container img {
        display: none;
    }
    .contact-details {
        width: 100%;
    }
    .contact-container {
        padding: 0.5em;
    }
}
@media screen and (max-width: 400px) {
    input,
    button,textarea,
    .contact-container p {
        font-size: small;
    }
    .contact-container p {
        margin: 0;
    }
    .contact-details {
        height: auto;
    }
    textarea {
        height: 80px;
    }
}